body {
  background-color: #0c2d57;
  color: #efecec;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form {
  display: grid;
  gap: 10px;
}

.form-group {
  display: grid;
  gap: 5px;
}

label {
  font-weight: bold;
}

input[type="number"] {
  width: 97%;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  background-color: #fc6736;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff8c5d;
}

.result {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
